.color-red{
	color: #f04e55;
}
.background-rojo{
	background: #f04e55;
}
.barra{
	background-color:#FFFFFF;
	width: 100%;
}
.titulos{
	margin-top: 9%;
}
.titulo{
	font-family: 'Quicksand', sans-serif;
	font-size: 50px;

}
.titulo-Gris{

	font-family: 'Quicksand', sans-serif;
	color: #575756;
	font-size: 40px;
	padding-top: 10%;
	text-align: center;
}

.titulo-Gris2{
	font-family: 'Quicksand', sans-serif;
	color: #575756;
	font-size: 30px;
	text-align: center;
}

.titulo-blanco{
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
	font-size: 40px;
	padding:0% 5% 5% 4%;
	text-align: center;
}


p{
font-family: 'Quicksand', sans-serif;
font-size: 16px;
}
.space{
	padding-top: 17%;
	padding-bottom: 15%;
}

.space .button{
	margin: 0 auto;
	display: block;
}
.contenedor{
	width: 90%;
}
.textIntro{
	font-family: 'Quicksand', sans-serif;
	padding:10%;
	color: #575756;
	font-size:20px;
	text-align: center;
}
/*.globos{
	background-color: #9933CC;
	width: 100%;

}
*/

.colmena{
 background-color: #f7f7f7;
 width: 100%;
}

.if-image {

filter: grayscale(100%);

-webkit-filter: grayscale(100%);

}

.if-image {

filter: grayscale(100%);

-webkit-filter: grayscale(100%);

transition:filter 0.4s;

-webkit-transition:-webkit-filter 1s;

}
.if-image:hover {

filter: grayscale(0);

-webkit-filter: grayscale(0);

}

.linea{

	border-top: 3px solid #f04e55;
	width: 10%;
	 height: 10px;

	text-align: center;
}
.linea2{

	border-top: 3px solid #f04e55;
	width: 80%;
	 height: 10px;

	text-align: center;
}


.linea:hover{
	border-top: 3px solid #f04e55;
	width: 50%;

	text-align: center;
}
.linea-blanca{

	border-top: 3px solid #ffffff;
	width: 10%;
	 height: 10px;

	text-align: center;
}

.linea-blanca:hover{
	border-top: 3px solid #ffffff;
	width: 50%;

	text-align: center;
}
.naranja{

	padding-top: 10%;
	padding-bottom: 10%;
	background-color: #f04e55;
	height:auto;
}

.imgcentrado{
 padding: 5% 30% 5% 30%;
}
.caja{
	padding: 5%;
}
.text-Hacemos{
	color: #FFFFFF;
	text-align: center;
}
.sub-titulo{
	color: #FFFFFF;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}


.nosotros{
	margin-top: 15%;
	margin-bottom: 15%;
}

.footergris{
	padding-top: 2%;
	background-color:#333;
	width: 100%;
	height:auto;

}
.redessocialescolmena{
background-color: #f04e55;
height: 100px;
width: 100%;
}

.equipo{

	background-color: #f7f7f7;
	width: 100%;
	height: auto;
}

.titulo-Gris-equipo{
	font-family: 'Quicksand', sans-serif;
	color: #575756;
	font-size: 40px;
	padding:14% 14% 2% 12%;

}


.shotview{
	font-family: 'Quicksand', sans-serif;
	padding:5%;
	color: #575756;
	font-size:16px;
	padding:5% 0% 0% 10%;
}
.redes{
	padding:0% 4% 10% 10%;
}
.social{
	padding: 2%;
}

.textIntro3{
	font-family: 'Quicksand', sans-serif;
	margin-top: 5%;
	color: #FFFFFF;
	font-size:20px;
	text-align: center;
}
.algo{

	background-color: #333;
	width: 100%;
	height: auto;

}
.aliados{
	margin-top:10%;
	margin-bottom:10%;

}
.iconos-empresas{
 padding-top: 15%;
 padding-bottom: 15%;
}

.contenedor{
	padding:10% 20% 4% 20%;
}

.formCem{
	padding: 17% 5% 0% 3%;
}

.inlinform{
  margin:15%;
}
.inlinform input{
  display:inline-block;
  border:none;
  outline:none;
  margin:8px 4px;
  font-size:14px;
  max-width:100%;
  padding:12px 20px;
  border-radius:30px;
}


.inline-form{
  margin:5% 0 0% 10%;
}
.inline-form input{
  display:inline-block;
  border:none;
  outline:none;
  margin:8px 4px;
  font-size:14px;
  max-width:100%;
  padding:12px 20px;
  border-radius:30px;
}




input[type="email"]{
  width:250px;
}

input[type="text"]{
  width:250px;
}
input[type="text"]{
  width:250px;
}

input[type="submit"]{
 width:180px;
  cursor: pointer;
  background: #f04e55;
  color:#FFFFFF;
  text-align:center;
  font-weight:400;
}


input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  background: #f04e55;
}

@media (max-width: 728px) {
  .newsletter-box{
    padding:80px 20px;
  }
  input[type="text"],
  input[type="email"]{
    width:210px;
  }
  input[type="submit"]{
    width:250px;
  }
}


.button{
  width:180px !important;
  cursor: pointer;
  background: #f04e55;
  display:inline-block;
  border:none;
  outline:none;
  font-size:14px;
  max-width:100%;
  padding:12px 20px;
  border-radius:30px;
  color:#FFFFFF;
  text-align:center;
  font-weight:400;
  flex-wrap: wrap;
}
.button:hover{
	  background: #f04e55;
}
.decoration{
	text-decoration: none;
	color: #ffffff;
}
.decoration:hover{
	text-decoration: none;
	color: #ffffff;
}

/**{
  box-sizing: border-box;
  outline: 1px solid rgba(255,0,0,.2);
}
*/

.formCenter{
	border-top: 5%;
	padding: 0 10% 15% 15%;
}
.notificacion{
	color: #FFFFFF;

}

.iconos-redes{
	margin-top: 5%;
	margin-left: 4%;
	margin-right: 2%;
	padding-bottom: 5%;


}

.avisoDePrivasidad{
	background-color:#1f1e1e;
	text-align: center;
	color: #FFFFFF;
	padding:10px;
}

.contenedor{
padding:10% 1rem 4% 1rem;
}
@media (min-width: 768px) {
.contenedor{
padding:10% 20% 4% 20%;	q
}
}
